gensim==4.3.2
nltk==3.8.1
pymorphy2==0.9.1

certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
filelock==3.14.0
fsspec==2024.3.1
huggingface-hub==0.22.2
idna==3.7
numpy==1.26.4
packaging==24.0
pycparser==2.22
PyYAML==6.0.1
regex==2024.4.28
requests==2.31.0
safetensors==0.4.3
sounddevice==0.4.6
soundfile==0.12.1
srt==3.5.3
text2num==2.5.1
tokenizers==0.19.1
tqdm==4.66.2
transformers==4.40.1
typing_extensions==4.11.0
urllib3==2.2.1
vosk==0.3.44
websockets==12.0
