accelerate==0.29.3
gensim==4.3.2
nltk==3.8.1
pymorphy2==0.9.1
scipy==1.10.1
torch==2.3.0
transformers==4.40.1
googletrans==4.0.0rc1
Flask==2.3.2
sounddevice==0.4.6
soundfile==0.12.1
vosk==0.3.44
text2num==2.5.1

